Repository SnO2WMaN/sno2wman.dev-vol.1: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, prettier

env: Nuxt用環境を構築した
  .eslintrc
  .lintstagedrc
  nuxt.config.ts
  package.json
  src/pages/index.vue
  src/types/index.d.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(wip): 最初の状態のデザイン仮組み
  package.json
  src/assets/icon.gif
  src/assets/point_9_black.png
  src/assets/stripe_16_black.png
  src/components/Badge.vue
  src/pages/index.vue
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

feat: 最初の状態のアニメーション
  nuxt.config.ts
  package.json
  src/assets/point_9_white.png
  src/assets/stripe_16_white.png
  src/pages/index.vue
  yarn.lock
Due: prettier --write, eslint --fix

feat: タイトルを設定したり、本番用のビルド設定をした
  README.md
  nuxt.config.ts
  package.json
  src/app.html
  src/assets/main.scss
  src/layouts/default.vue
  src/pages/aboutme.vue
  src/pages/index.vue
  src/static/icon.png
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix, prettier

feat(wip): ページ遷移途中
  .eslintrc
  nuxt.config.ts
  package.json
  src/layouts/default.vue
  src/pages/aboutme.vue
  src/pages/index.vue
  src/store/.eslintrc
  src/store/index.ts
  src/types/index.d.ts
  src/types/vuex.d.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(wip): 自己紹介ページ、途中まで
  package.json
  src/assets/sprite/svg/affinity.svg
  src/assets/sprite/svg/editorconfig.svg
  src/assets/sprite/svg/gitkraken.svg
  src/assets/sprite/svg/kyash.svg
  src/assets/sprite/svg/lerna.svg
  src/assets/sprite/svg/parcel.svg
  src/assets/sprite/svg/pixiv.svg
  src/assets/sprite/svg/postcss.svg
  src/assets/sprite/svg/pug.svg
  src/assets/sprite/svg/renovate.svg
  src/assets/sprite/svg/stylelint.svg
  src/assets/sprite/svg/webpack.svg
  src/layouts/default.vue
  src/pages/aboutme.vue
  src/pages/index.vue
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

feat(wip): プロフィール部分追加
  src/app.html
  src/pages/aboutme.vue
Due: none

feat(wip): 詳細部分作成
  src/assets/sprite/svg/travis_ci.svg
  src/pages/aboutme.vue
Due: none

env: Deployコマンドを追加
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix: Indexページのアニメーションが崩れたりするのを修正
  src/pages/aboutme.vue
  src/pages/index.vue
Due: none

feat(wip): プロフィール部分のアニメーション
  src/layouts/default.vue
  src/pages/aboutme.vue
Due: none

feat: Annictのリンクを追加
  src/assets/sprite/svg/annict.svg
  src/pages/aboutme.vue
Due: none

feat(wip): ソーシャル部分のアニメーション実装
  src/pages/aboutme.vue
Due: none

feat(wip): 寄付部分のアニメーションを追加
  src/pages/aboutme.vue
Due: none

env:.npmrcを追加
  .gitignore
Due: none

env:.npmrcを追加
  .gitignore
  .npmrc
Due: none

feat(wip): 一部のアニメーションを修正
  .gitignore
  src/pages/aboutme.vue
Due: none

feat(wip): 詳細部分のアニメーション追加
  src/pages/aboutme.vue
Due: none

fix: スクロールに関する処理を修正
  src/pages/aboutme.vue
Due: none

feat(wip): スキルバッジのアニメーションを追加
  src/pages/aboutme.vue
Due: none

build: 公開に向けていろいろと整備
  nuxt.config.ts
  package.json
  src/app.html
  src/components/Badge.vue
  yarn.lock
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{gql}) or (any of: *.{js,json})) or (any of: *.{css,scss})
  eslint --fix: (any of: *.{js,json}) or (any of: *.md)
  stylelint --fix: any of: *.{css,scss}
  prettier: any of: *.md
