Repository SnO2WMaN/sno2wman.dev-vol.1: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, prettier

design: 画面遷移のアニメーションを少し変更
  src/assets/main.scss
  src/pages/aboutme.vue
  src/pages/index.vue
Due: prettier --write, stylelint --fix

env: コミット時にHTMLファイルをprettierするように
  .lintstagedrc
  src/app.html
Due: none

fix(deps): update dependency ts-loader to ^6.0.4
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix(deps): update dependency typescript to ^3.5.3
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix(deps): update dependency simple-icons to ^1.11.0
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(deps): update dependency commitizen to ^3.1.2
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix(deps): update dependency ts-node to ^8.3.0
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

fix: Indexページのアニメーションの挙動を改善
  src/pages/index.vue
Due: none

fix: Indexページのアニメーションの挙動を改善2
  src/pages/index.vue
Due: none

design: 色を少し変えた
  src/layouts/default.vue
Due: none

chore(deps): update dependency stylelint-scss to ^3.9.2
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(deps): update commitlint monorepo to ^8.1.0
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(deps): update dependency husky to v3
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(deps): update dependency netlify-cli to ^2.11.29
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(deps): update eslint and prettier
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(deps): update dependency lint-staged to v9
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{gql}) or (any of: *.{js,json})) or (any of: *.{css,scss})
  eslint --fix: (any of: *.{js,json}) or (any of: *.md)
  stylelint --fix: any of: *.{css,scss}
  prettier: any of: *.md
